p{
  font-size: 22px;
  font-family: sans-serif;
  text-align: center;
  font-weight: lighter;
}
h1{
  text-align: center;
  font-weight: lighter;
  font-size: 60px;
}

.images-circle {
    border-radius: 20%;
  }

.body1 p{
  font-size: 20px;
  width: 300px;
  font-family: inherit;
}
.star2{
  color: #000066;
}
.overwatch{
  color: #b34700
}
#aboutme1 p{
  font-size: 22px;
  text-align: center;
  font-weight: lighter;
  border: 2px solid green;
  padding: 4px;
  margin: 21px;
}
#aboutme1 img{
  width: 30%;
  height: 30%;

}
.index-bg{
  background-image: url("../images/indexGround.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.aboutME-bg{
  background-image: url("../images/aboutme1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.projects-bg{
  background-image: url("../images/project1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.whitefont{
  color: white;
}
